*.pt
*.DS_Store
*.ubyte

*.log
*.aux
*.blg
*.out
*.synctex.gz
*.toc
*.pyc
*main-blx*

report/figs/

*.lof

*.lot

report/main\.run\.xml

code/experiment-3/dumps/

*.bbl

code/experiment-3/results/

report/figures/noise-0-1/

report/figures/noise-0-5/

report/figures/noise-2/

report/figures/

code/experiment-3/archive/

*.nav

*.snm
